

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Old Standard TT';
    display: flex;
    height: 100vh;
    width: 100vw;
}

.left {
    background-image: url('violin.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    height: 100%;
    width: 30%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.left > div {
    font-size: 4vh;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    margin-top: 30vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
}

.left .attribution{
    color: white;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.left .attribution a {
    color: white;
}

.right {
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
}

.thirds {
    padding-left: 64px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.thirds h2 {
    font-size: 36px;
}

.thirds.middle {
    background-color: #f9fafb;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.123);
    z-index: 1;
}

.thirds.top,
.thirds.bottom {
    background-color: #fcf8f2;
    gap: 12px;
    font-size: 24px;
}


.thirds form {
    display: flex;
    flex-wrap: wrap;
    max-width: 760px;
    gap: 16px;
    font-size: 16px;

}

.thirds h3 {
    font-size: 32px;
    margin-bottom: 16px;
}

.thirds form > div {
    display: flex;
    flex-direction: column;
    min-width: 250px;
    max-width: 400px;
}

.thirds.middle input {
    background-color: #FFFFFF;
    border: 1px solid #D6D9DC;
    height: 24px;
    min-width: 300px;

}

button {
    background-color: #8c5a2b;
    color: white;
    border: none;
    border-radius: 3px; 
    padding: 10px 40px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    max-width: 200px;
}